.white {
	color: white;
}

.black {
	color: black;
}

tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even) {
	background: #FFCE9E;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
	background: #D18B47;
}

td {
	min-width: 12.5vmin;
	min-height: 12.5vmin;
  line-height: 12.5vmin;
	text-align: center;
}

.glyphicon {
	font-size: 7.5vmin;
	vertical-align: middle;
	top: 0;
}
